.donutWrap { position: relative; width: 100%; height: 160px }
.centerLabel {
position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);
font-size: 18px; font-weight: 700; color: #fff;
}
.statCard{
            background: var(--color-walletCard);

}