.profileContainer {
  padding: 40px 0;
  min-height: 100vh;
  background: linear-gradient(135deg, #1e0036, #250043);
  color: #fff;
  direction: rtl;
}

.card {
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 0 15px rgba(249, 1, 201, 0.2);
}

.title{
    font-size: 25px;
      border-bottom: 1px solid #43306a;
padding: 0px 0px 30px 0px;

}
.avatarWrapper {
  position: relative;
  display: inline-block;
}

.profilePic{
  display: flex;
    justify-content: space-between;
    align-items: center;
}
.updatepic{
      padding: 8px 15px;
    border-radius: 7px;
    background-color: #f901c9;
    color: white;
    border: none;
}
.deletepic{
      padding: 8px 15px;
    border-radius: 7px;
    background-color: #321f59;
    color: white;
    border: none;
    margin-right: 10px;
}


.avatar {
  border-radius: 50%;
  object-fit: cover;
}

.uploadIcon {
  position: absolute;
  top: 70px;
  left: 0;
  background-color: #f901c9;
  border-radius: 50%;
  padding: 5px 8px;
  cursor: pointer;
  font-size: 1.1rem;
  border: 5px solid #220f49;
}

.username {
  margin-top: 10px;
  font-weight: bold;
  font-size: 1.2rem;
}

.formLabel {
  color: #ccc;
  font-size: 0.9rem;
}

.inputField {
  background-color: #3a0066 !important;
  border: none !important;
  color: #fff !important;
  border-radius: 10px;
}

.inputField:focus {
  box-shadow: 0 0 5px #f901c9 !important;
  outline: none !important;
}

.formInput{
      background-color: #2f1d54 !important ;
    border: 1px solid #43306a !important ;
    color: #6f697a !important ;
}
.saveBtn {
  background-color: #f901c9 !important;
  border: none !important;
  border-radius: 10px;
  padding: 10px 30px;
  font-weight: 600;
  transition: 0.3s;
}

.saveBtn:hover {
  background-color: #ff2dd6 !important;
}
