
.title{
    font-size: 25px;
      border-bottom: 1px solid #43306a;
padding: 0px 0px 30px 0px;

}
.label{
    font-size: 19px;
}
.description {
    font-weight: lighter;
    font-size: 12px;
    color: gray;
}
.lastSettingsItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
padding: 13px 0px;
}
.formInput{
      background-color: #2f1d54 !important ;
    border: 1px solid #43306a !important ;
    color: #6f697a !important ;
    max-width: 250px;
}
.formInput::placeholder {
  color: #6f697a; /* غير اللون اللي يناسبك */
  opacity: 1; /* مهم جدًا عشان اللون يظهر بوضوح */
}
