.background{
 background-image: url("/images/main-bg.png");
 min-height: 89vh;
}
.textWraper{
    padding:24px 30px 15px 30px; ;
}
.textWraper h2{
font-weight: bold;
font-size: 32px;
}

.termsList {
  list-style-type: none; /* إلغاء النقاط من العناوين الرئيسية */
  padding: 0;
  margin: 0;
  font-size: 18px;
}
.termsList > li {
  margin-bottom: 20px;
}

.termsList > li > strong {
  display: block;
  color: #fff; /* أو أي لون تريده */
  margin-bottom: 8px;
  direction: rtl; /* لو النص عربي */
}

.termsList ul {
  list-style-type: disc; /* نقاط للعناوين الفرعية فقط */
  margin-right: 25px;
  color: #ddd;
}

.termsList ul li {
  margin-bottom: 6px;
  line-height: 1.7;
}
.termsList >li > p {
color: #83868F;
}